<!DOCTYPE html>
<html lang="en">
  {{ template "partials/head.tmpl" . }}
  <body>
    {{ template "partials/header.tmpl" . }}
    <main>
      <div id="top"></div>
      <article
              class="block"
              data-block-type="content"
              data-block-tag="single-org-content"
              data-block-profile="outer--outer"
              data-block-margins="both"
              data-block-padding="both"
      >
        <div class="content">
          <section>
            {{ .Content }}
          </section>
          <a class="jump-top" href="#top">top</a>
        </div>
      </article>
    </main>
    {{ template "partials/footer.tmpl" . }}
  </body>
</html>