        {{ template "partials/njn/field-switch.tmpl" .Background }}
        {{-  if gt (length .Section) 0 }}
        <div class="copytext">
            {{ if ne .ProfileImgSrc nil }}
            {{- template "partials/common/img.tmpl" (dict $
            "Src" (fsUrl .ProfileImgSrc)
            "Alt" (_ "thumbnail image")
            ) -}}
            {{ end }}
            {{ template "partials/njn/block-heading.tmpl" . }}
            {{ if .Section }}
            {{ template "partials/njn/field-list.tmpl" .Section }}
            {{ end }}
        </div>
        {{- end  }}
