{{- template "partials/njn/block-attributes.tmpl" . -}}
{{- if .HeadingReset }}{{- printf " data-header-reset=\"%v\"" .HeadingReset | asHTMLAttr -}}{{- end }}
{{- if .HeadingLevel }}{{- printf " data-header-level=\"%v\"" .HeadingLevel | asHTMLAttr -}}{{- end }}
{{- if .HeadingCount }}{{- printf " data-header-count=\"%v\"" .HeadingCount | asHTMLAttr -}}{{- end }}