<!-- header block -->
{{ if eq .HeadingCount 0}}
<header {{- template "partials/njn/block/header-attributes.tmpl" . -}}>
{{ else }}
<section {{- template "partials/njn/block/header-attributes.tmpl" . -}}>
{{ end }}
    <div class="content">
        <h{{ .HeadingLevel }}>{{ template "partials/njn/field-list.tmpl" .Heading }}</h{{ .HeadingLevel }}>
        {{ if .JumpLink }}
            <a class="jump-link" href="#{{ .Tag }}">
                <span class="sr-only">permalink</span>
            </a>
        {{ end }}
    </div>
    {{ if .Nav }}
        <nav>
            <ul>
                {{ range $item := .Nav }}
                    {{ if eq $item.Type "a" }}
                        <li>
                            <a href="{{ $item.Href }}">{{ template "partials/njn/field-list.tmpl" $item.Text }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </nav>
    {{ end }}
    {{ template "partials/njn/block-footer.tmpl" . }}
    {{ if .JumpTop }}
        <a class="jump-top" href="#top">top</a>
    {{ end }}
{{ if ne .HeadingCount 0}}
</section>
{{ else }}
</header>
{{ end }}