<!-- content block -->
<section {{- template "partials/njn/block/icon-attributes.tmpl" . -}}>
    <div class="content">
        {{ if .Heading }}
            {{ template "partials/njn/block-header.tmpl" . }}
        {{ end }}
        {{ if .Icon }}
            {{- if .Icon.Href }}
                <a class="{{ .Icon.Align }}" href="{{ .Icon.Href }}"{{- if .Icon.Target }} target="{{ .Icon.Target }}"{{- end -}}{{- elementAttributes .Icon -}}>
            {{- else -}}
                <div class="icon--container {{ .Icon.Align }}">
            {{- end -}}
            {{ if eq .Icon.Class "icon" }}
                <span class="icon {{ .Icon.Name }}"></span>
            {{ else }}
                <i class="{{ .Icon.Class }} {{ .Icon.Name }}"></i>
            {{ end }}
            {{- if .Icon.Caption }}
                <br/>
                <small>{{ template "partials/njn/field-list.tmpl" .Icon.Caption }}</small>
            {{- end -}}
            {{- if not .Icon.Href }}
                </div>
            {{- else -}}
                </a>
            {{- end -}}
        {{ end }}
        {{ template "partials/njn/block-footer.tmpl" . }}
        {{ if .JumpTop }}
            <a class="jump-top" href="#top">top</a>
        {{ end }}
    </div>
</section>