{{- template "partials/njn/block-attributes.tmpl" . -}}
{{- if .Constraint }}{{- printf " data-image-constraint=\"%v\"" .Constraint | asHTMLAttr -}}{{- end }}
{{- if .Fitting }}{{- printf " data-image-fit=\"%v\"" .Fitting | asHTMLAttr -}}{{- end }}
{{- if .Position }}{{- printf " data-image-position=\"%v\"" .Position | asHTMLAttr -}}{{- end }}
{{- if .Size }}{{- printf " data-image-size=\"%v\"" .Size | asHTMLAttr -}}{{- end }}