{{ if eq .View.Paginate "more" -}}
    {{ template "partials/njn/block/index--paginate--more.tmpl" . }}
{{ else if eq .View.Paginate "page" }}
    {{ template "partials/njn/block/index--paginate--page.tmpl" . }}
{{ end }}