{{ if eq .Paginate "more" -}}
    {{ template "partials/njn/block/index--summary--more.tmpl" . }}
{{ else if eq .Paginate "page" }}
    {{ template "partials/njn/block/index--summary--page.tmpl" . }}
{{ end }}