<aside class="search-results">
    {{ $showing := printf "%d-%d"
    (eval "(%d * %d) + 1" .PageIndex .NumPerPage)
    (eval "(%d * %d) + %d" .PageIndex .NumPerPage .ResultCount)
    }}
    {{ if eq .ResultCount .TotalFound }}
        {{ $showing = (_ "all" /* used for $showing, instead of 'Showing 1-10 of 10', displays as 'Showing all of 10' */ ) }}
    {{ end }}

    {{ if eq .ResultCount 0 }}

        <p>{{ _ "No results found within %d total" .TotalFound }}</p>

    {{ else if or .SearchResults .SearchError }}

        {{ if and .SearchResults (gt .SearchTotal 0) }}
            {{ if eq .SearchWithinTotal .TotalFound }}
                <p>{{ _ "Showing %s of %d results, %d total" $showing .SearchTotal .TotalFound }}</p>
            {{ else }}
                <p>{{ _ "Showing %s of %d results, %d filtered, %d total" $showing .SearchTotal .SearchWithinTotal .TotalFound }}</p>
            {{ end }}
        {{ end }}
        {{ if  .SearchError }}
            <p>{{ _ "Search form error: %s" .SearchError }}</p>
        {{ end }}

    {{ else }}

        {{ if eq .TotalFound .TotalFiltered }}
            <p>{{ _ "Showing %s of %d total" $showing .TotalFound }}</p>
        {{ else }}
            <p>{{ _ "Showing %s of %d filtered, %d total" $showing .TotalFiltered .TotalFound }}</p>
        {{ end }}

    {{ end }}

</aside>