{{- if .NextMore -}}
    <footer data-view="{{ .Index }}" data-index-view="{{ .Key }}">
        <div class="index-pagination" data-paginate="more">
            <a href="{{ .NextMore }}">{{ _ "More" /* index block pagination, asking for another batch of pages */}}</a>
        </div>
    </footer>
{{- end -}}