<!-- link-list block -->
{{- template "partials/njn/block-open.tmpl" . -}}
    <div class="content">
        {{ template "partials/njn/block-header.tmpl" . }}
        {{ if .Section }}
            <section>
                {{ template "partials/njn/field-list.tmpl" .Section }}
            </section>
        {{ end }}
        {{ template "partials/njn/block-footer.tmpl" . }}
        {{ if .JumpTop }}
            <a class="jump-top" href="#top">top</a>
        {{ end }}
    </div>
{{- template "partials/njn/block-close.tmpl" . -}}