{{- template "partials/njn/block-attributes.tmpl" . -}}
{{- if .Side }}{{- printf " data-sidebar-side=\"%v\"" .Side | asHTMLAttr -}}{{- end }}
{{- if .Stack }}{{- printf " data-sidebar-stack=\"%v\"" .Stack | asHTMLAttr -}}{{- end }}
{{- if .Sticky }}{{- printf " data-sidebar-sticky=\"%v\"" .Sticky | asHTMLAttr -}}{{- end }}