{{ if eq .Type "card" }}
    {{ template "partials/njn/block/card.tmpl" . }}
{{ else if eq .Type "content" }}
    {{ template "partials/njn/block/content.tmpl" . }}
{{ else if eq .Type "carousel" }}
    {{ template "partials/njn/block/carousel.tmpl" . }}
{{ else if eq .Type "header" }}
    {{ template "partials/njn/block/header.tmpl" . }}
{{ else if eq .Type "icon" }}
    {{ template "partials/njn/block/icon.tmpl" . }}
{{ else if eq .Type "image" }}
    {{ template "partials/njn/block/image.tmpl" . }}
{{ else if eq .Type "link-list" }}
    {{ template "partials/njn/block/link-list.tmpl" . }}
{{ else if eq .Type "notice" }}
    {{ template "partials/njn/block/notice.tmpl" . }}
{{ else if eq .Type "pair" }}
    {{ template "partials/njn/block/pair.tmpl" . }}
{{ else if eq .Type "pair" }}
    {{ template "partials/njn/block/pair.tmpl" . }}
{{ else if eq .Type "toc" }}
    {{ template "partials/njn/block/toc.tmpl" . }}
{{ else if eq .Type "sidebar" }}
    {{ template "partials/njn/block/sidebar.tmpl" . }}
{{ else }}
    {{ ErrorF "block type: %v not supported in block-switch.tmpl" .Type }}
{{ end }}