{{- with $classes := mergeClassNames "block" . -}}{{- printf " class=\"%v\"" $classes | asHTMLAttr -}}{{- end -}}
{{- printf " id=\"%v\"" .Tag | asHTMLAttr -}}
{{- printf " data-block-tag=\"%v\"" .Tag | asHTMLAttr -}}
{{- printf " data-block-type=\"%v\"" .Type | asHTMLAttr -}}
{{- if .Theme -}}{{- printf " data-block-theme=\"%v\"" .Theme | asHTMLAttr -}}{{- end -}}
{{- if .Profile -}}{{- printf " data-block-profile=\"%v\"" .Profile | asHTMLAttr -}}{{- end -}}
{{- if .Padding -}}{{- printf " data-block-padding=\"%v\"" .Padding | asHTMLAttr -}}{{- end -}}
{{- if .Margins -}}{{- printf " data-block-margins=\"%v\"" .Margins | asHTMLAttr -}}{{- end -}}
{{- if .JumpTop -}}{{- printf " data-block-jump-top=\"%v\"" .JumpTop | asHTMLAttr -}}{{- end -}}
{{- if .JumpLink -}}{{- printf " data-block-jump-link=\"%v\"" .JumpLink | asHTMLAttr -}}{{- end -}}
{{- if .BlockBackground -}}
    {{- printf " data-block-background=\"%v\"" .BlockBackground | asHTMLAttr -}}
    {{- if eq .BlockBackground "parallax" -}}
        {{- if .ParallaxImage -}}{{- printf " style=\"--style--bg--image:url(%v);\"" .ParallaxImage | asHTMLAttr -}}{{- end -}}
        {{- if .ParallaxTheme -}}{{- printf " data-parallax-theme=\"%v\"" .ParallaxTheme | asHTMLAttr -}}{{- end -}}
        {{- if .ParallaxSize -}}{{- printf " data-parallax-size=\"%v\"" .ParallaxSize | asHTMLAttr -}}{{- end -}}
    {{- end -}}
{{- end -}}