{{- if eq (printf "%T" .) "string" -}}
    {{- . -}}
{{- else if eq (printf "%T" .) "template.HTML" -}}
    {{- . -}}
{{- else if eq (printf "%T" .) "map[string]interface {}" -}}
    {{- template "partials/njn/field-switch.tmpl" . -}}
{{- else -}}
    {{- range $field := . -}}
        {{- template "partials/njn/field-switch.tmpl" $field -}}
    {{- end -}}
{{- end -}}