<!DOCTYPE html>
<html lang="{{ .Request.Language }}">
{{ template "partials/head.tmpl" . }}
<body
        {{- if .Type }} data-page-type="{{ .Type }}"{{ end -}}
        {{- if .Layout }} data-page-layout="{{ .Layout }}"{{ end -}}
        {{- if .Format }} data-page-format="{{ .Format | replace ".tmpl" }}"{{ end -}}
        {{- if .Archetype }} data-page-archetype="{{ .Archetype }}"{{ end -}}
>
{{ featurePartials "body" "head" }}
{{ template "partials/header.tmpl" . }}
<main data-layout-view="fs-editor/file-editor.tmpl">
    <div id="top"></div>
    {{ template "partials/notices.tmpl" . }}

    {{ if eq .EditorType "menu" }}
        {{ template "partials/fs-editor/page/menus-editor.tmpl" . }}
    {{ else if eq .EditorType "page" }}
        {{ template "partials/fs-editor/page/pages-editor.tmpl" . }}
    {{ else if eq .EditorType "theme" }}
        {{ template "partials/fs-editor/page/themes-editor.tmpl" . }}
    {{ else if stringInStrings .EditorType "locale" }}
        {{ template "partials/fs-editor/page/locales-editor.tmpl" . }}
    {{ else if stringInStrings .EditorType "unsafe" }}
        {{ template "partials/fs-editor/page/unsafe-editor.tmpl" . }}
    {{ else }}

        <article class="block"
                 id="information"
                 data-block-tag="information"
                 data-block-type="content"
                 data-block-profile="outer--inner"
                 data-block-padding="none"
                 data-block-margins="both"
                 data-block-jump-top="false"
                 data-block-jump-link="true"
        >
            <div class="content">
                <header>
                    <h1>{{ _ "Unsupported Editor Feature" }}</h1>
                </header>
                <section>
                    {{ _ "The %[1]s theme does not support the %[2]s editor feature." .Theme.Name .EditorFeatureLabel }}
                </section>
            </div>
        </article>

    {{ end }}
</main>
{{ template "partials/footer.tmpl" . }}
{{ featurePartials "body" "tail" }}
</body>
</html>
