<a href="{{- .Href -}}"
        {{- if .Class  }} class="{{- .Class -}}"{{- end -}}
        {{- if .Style  }} style="{{- .Style -}}"{{- end -}}
        {{- if .Rel    }} rel="{{- .Rel -}}"{{- end -}}
        {{- if .Target }} target="{{- .Target -}}"{{- end -}}
        {{- elementAttributes . -}}>{{- template "partials/njn/field-list.tmpl" .Text -}}</a>