{{- elementOpen . -}}
{{- if .Lines }}
    <ol>
        {{- range $line := .Lines }}
            <li>{{ $line }}</li>
        {{- end -}}
    </ol>
{{- else -}}
    {{- template "partials/njn/field-list.tmpl" .Text -}}
{{- end -}}
{{- elementClose . -}}