<img
        {{- if .Src    }} src="{{ .Src }}"{{- end -}}
        {{- if .Alt    }} alt="{{ .Alt }}"{{- end -}}
        {{- if .Width  }} width="{{ .Width }}"{{- end -}}
        {{- if .Height }} height="{{ .Height }}"{{- end -}}
        {{- elementAttributes . -}}
/>