<input
        {{- if .Input }} type="{{  .Input }}"{{- end -}}
        {{- if .Name  }} name="{{  .Name  }}"{{- end -}}
        {{- if .Value }} value="{{ .Value }}"{{- end -}}
        {{- if .Placeholder }} placeholder="{{ .Placeholder }}"{{- end -}}
        {{- elementAttributes . -}}
        {{- if eq .Disabled "true" }} disabled{{- end -}}{{- if eq .Checked "true" }} checked{{- end -}}
/>