{{ elementOpen . }}
{{ if .Sources -}}
    {{- range $source := .Sources }}
        <source srcset="{{ $source.Srcset }}" media="{{ $source.Media }}"/>
    {{- end -}}
{{- end }}
{{ template "partials/njn/field-switch.tmpl" .Default }}
{{ elementClose . }}