<progress
        {{- elementAttributes . -}}
        {{- if .Max   }} max="{{ .Max }}"{{- end -}}
        {{- if .Value }} value="{{ .Value }}"{{- end -}}
>{{- template "partials/njn/field-list.tmpl" .Text -}}</progress>