<div class="auto-scroll-x">
    <table
            {{ elementAttributes . }}
            {{- if .Options -}}
                {{- if .Options.Sticky -}}
                    {{- if .Options.Sticky.Head }} data-field-table-sticky-head="{{ .Options.Sticky.Head }}"{{ end -}}
                    {{- if .Options.Sticky.Data }} data-field-table-sticky-data="{{ .Options.Sticky.Data }}"{{ end -}}
                {{- end -}}
            {{- end -}}
    >
        {{ if .Caption }}
            <caption>{{ template "partials/njn/field-list.tmpl" .Caption }}</caption>
        {{ end }}
        {{ if .Head }}
            <thead>
            <tr>
                {{ range $h := .Head }}
                    {{ element $h }}
                {{ end }}
            </tr>
            </thead>
        {{ end }}
        {{ if .Body }}
            <tbody>
            {{ range $r := .Body }}
                {{ elementOpen $r }}
                {{ range $d := $r.Data }}
                    {{ elementOpen $d -}}
                        {{- template "partials/njn/field-list.tmpl" $d.Text -}}
                    {{- elementClose $d }}
                {{ end }}
                {{ elementClose $r }}
            {{ end }}
            </tbody>
        {{ end }}
    </table>
</div>