<!DOCTYPE html>
<html lang="{{ .Request.Language }}">
  {{ featurePartials "head" "head" }}
  {{ template "partials/head.tmpl" . }}
  {{ featurePartials "head" "tail" }}
  <body
          {{- if .Type }} data-page-type="{{ .Type }}"{{ end -}}
          {{- if .Layout }} data-page-layout="{{ .Layout }}"{{ end -}}
          {{- if .Format }} data-page-format="{{ .Format | replace ".tmpl" }}"{{ end -}}
          {{- if .Archetype }} data-page-archetype="{{ .Archetype }}"{{ end -}}
  >
    {{ featurePartials "body" "head" }}
    {{ template "partials/header.tmpl" . }}
    <main>
      <div id="top"></div>
      {{ .Content }}
    </main>
    {{ template "partials/footer.tmpl" . }}
    {{ featurePartials "body" "tail" }}
  </body>
</html>