<!DOCTYPE html>
<html lang="{{ .Request.Language }}">
  {{ template "partials/head.tmpl" . }}
  <body
          {{- if .Type }} data-page-type="{{ .Type }}"{{ end -}}
          {{- if .Layout }} data-page-layout="{{ .Layout }}"{{ end -}}
          {{- if .Format }} data-page-format="{{ .Format | replace ".tmpl" }}"{{ end -}}
          {{- if .Archetype }} data-page-archetype="{{ .Archetype }}"{{ end -}}
  >
    {{ featurePartials "body" "head" }}
    {{ template "partials/header.tmpl" . }}
    <main data-layout-view="full-view/baseof.tmpl">
      <div id="top"></div>
      {{ template "partials/notices.tmpl" . }}
      {{ .Content }}
    </main>
    {{ template "partials/footer.tmpl" . }}
    {{ featurePartials "body" "tail" }}
  </body>
</html>
