{{- $title := .Text -}}
{{- if .Title -}}{{- $title = .Title -}}{{- end -}}
{{- if .Href -}}
    {{- if eq .Lang "" }}
        <a href="{{- .Href -}}" title="{{ $title }}"{{ if .Target }} target="{{ .Target }}"{{ end }}>
          {{- partials "menu/menu-base-link" . -}}
        </a>
    {{- else }}
        <a href="{{- __ .Lang .Href -}}" title="{{ $title }}"{{ if .Target }} target="{{ .Target }}"{{ end }}>
          {{- partials "menu/menu-base-link" . -}}
        </a>
    {{- end }}
{{- else -}}
    {{- partials "menu/menu-base-link" . -}}
{{- end -}}
