{{- $title := .Text -}}
{{- if .Title -}}{{- $title = .Title -}}{{- end -}}
{{- if .Href -}}
  {{- if eq .Lang "" }}
    <a class="label child{{ if .Active }} active{{ end }}"
       href="{{- .Href -}}"
       title="{{ $title }}"
       {{ if .Target }} target="{{ .Target }}"{{ end }}>
      {{- partials "menu/menu-base-link" . -}}
    </a>
  {{- else }}
    <a class="label child{{ if .Active }} active{{ end }}"
       href="{{- __ .Lang .Href -}}"
       title="{{ $title }}"
       {{ if .Target }} target="{{ .Target }}"{{ end }}>
      {{- partials "menu/menu-base-link" . -}}
    </a>
  {{- end }}
{{- else -}}
  <span class="label child{{ if .Active }} active{{ end }}" title="{{ $title }}">
    {{- partials "menu/menu-base-link" . -}}
  </span>
{{- end -}}
