<!DOCTYPE html>
<html lang="{{ .Request.Language }}">
  {{ featurePartials "head" "head" }}
  {{ template "partials/head.tmpl" . }}
  {{ featurePartials "head" "tail" }}
  <body
          {{- if .Type }} data-page-type="{{ .Type }}"{{ end -}}
          {{- if .Layout }} data-page-layout="{{ .Layout }}"{{ end -}}
          {{- if .Format }} data-page-format="{{ .Format | replace ".tmpl" }}"{{ end -}}
          {{- if .Archetype }} data-page-archetype="{{ .Archetype }}"{{ end -}}
  >
    {{ featurePartials "body" "head" }}
    {{ template "partials/header.tmpl" . }}
    <main>
      <div id="top"></div>
      <article
              class="block"
              data-block-type="content"
              data-block-tag="full-page-content"
              data-block-profile="full-full"
              data-block-margins="both"
              data-block-padding="both"
      >
        <div class="content">
          <section>
            {{ .Content }}
          </section>
          <a class="jump-top" href="#top">{{ _ "top" }}</a>
        </div>
      </article>
    </main>
    {{ template "partials/footer.tmpl" . }}
  </body>
  {{ featurePartials "body" "tail" }}
</html>
