<section class="block" id="main-header"
         data-block-tag="main-header"
         data-block-type="header"
         data-block-profile="outer--inner"
         data-block-padding="top"
         data-block-margins="bottom"
         data-header-level="1"
         data-header-count="1">
    <div class="content">
        <header>
            <h1>Lorem Ipsum</h1>
        </header>
    </div>
    <nav>
        <ul>
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#section-1-10-33">Section 1.10.33...</a></li>
            <li><a href="#section-1-10-33-translation">Translation of 1.10.33...</a></li>
        </ul>
    </nav>
</section>

<section class="block" id="introduction"
         data-block-tag="introduction"
         data-block-type="header"
         data-block-profile="outer--inner"
         data-block-padding="top"
         data-block-margins="bottom"
         data-header-level="2"
         data-header-count="2">
    <div class="content">
        <header>
            <h2>Introduction</h2>
        </header>
    </div>
</section>

<article class="block" id="introduction-content"
         data-block-tag="introduction-content"
         data-block-type="content"
         data-block-profile="outer--inner"
         data-block-padding="none"
         data-block-margins="bottom"
         data-block-jump-top="true"
         data-block-jump-link="true">
    <div class="content">
        <section>
            <p>The content of this page is strictly for demonstration purposes and as such contains excerpts of the
                lorem ipsum text.</p>
            <p>The lorem ipsum text has been copied from the
                <a href="https://www.lipsum.com/">https://www.lipsum.com/</a> landing page, the Go-Enjin project's
                recommended source for these things. Please consider donating to
                <a href="https://www.lipsum.com/">https://www.lipsum.com/</a>.</p>
        </section>
        <a class="jump-top" href="#top">top</a>
    </div>
</article>

<article class="block" id="section-1-10-33"
         data-block-tag="section-1-10-33"
         data-block-type="content"
         data-block-profile="outer--inner"
         data-block-padding="none"
         data-block-margins="both"
         data-block-jump-top="true"
         data-block-jump-link="true">
    <div class="content">
        <header>
            <h3>Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</h3>
            <a class="jump-link" href="#section-1-10-33">
                <span class="sr-only">page title heading deeplink</span>
            </a>
        </header>
        <section>
            <blockquote>
                <span>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
                    nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
                    omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
                    debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
                    recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus
                    maiores alias consequatur aut perferendis doloribus asperiores repellat.</span>
            </blockquote>
            <figcaption><cite>Cicero</cite></figcaption>
        </section>
        <a class="jump-top" href="#top">top</a>
    </div>
</article>

<article class="block" id="section-1-10-33-translation"
         data-block-tag="section-1-10-33-translation"
         data-block-type="content"
         data-block-profile="outer--inner"
         data-block-padding="none"
         data-block-margins="both"
         data-block-jump-top="true"
         data-block-jump-link="true">
    <div class="content">
        <header>
            <h2>1914 translation by H. Rackham</h2>
            <a class="jump-link" href="#section-1-10-33-translation">
                <span class="sr-only">page title heading deeplink</span>
            </a>
        </header>
        <section>
            <blockquote>
                <span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                    demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                    the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their
                    duty through weakness of will, which is the same as saying through shrinking from toil and pain.
                    These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice
                    is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is
                    to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty
                    or the obligations of business it will frequently occur that pleasures have to be repudiated and
                    annoyances accepted. The wise man therefore always holds in these matters to this principle of
                    selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid
                    worse pains.</span>
            </blockquote>
            <figcaption><cite>H. Rackham</cite></figcaption>
        </section>
        <a class="jump-top" href="#top">top</a>
    </div>
</article>