<!DOCTYPE html>
<html lang="{{ .Request.Language }}">
{{ template "partials/head.tmpl" . }}
<body
        {{- if .Type }} data-page-type="{{ .Type }}"{{ end -}}
        {{- if .Layout }} data-page-layout="{{ .Layout }}"{{ end -}}
        {{- if .Format }} data-page-format="{{ .Format | replace ".tmpl" }}"{{ end -}}
        {{- if .Archetype }} data-page-archetype="{{ .Archetype }}"{{ end -}}
>
{{ featurePartials "body" "head" }}
{{ template "partials/header.tmpl" . }}
<main data-layout-view="site-auth/backup-codes--setup.tmpl">
    <div id="top"></div>
    {{ template "partials/site/header.tmpl" (dict . "Title" (_ "Manage %[1]s" .FeatureInfo.Label) "WithBreadcrumbs" true) }}

    <article class="block" id="backup-codes"
             data-block-tag="backup-codes"
             data-block-type="content"
             data-block-profile="outer--inner"
             data-block-padding="none"
             data-block-margins="both"
             data-block-jump-top="false"
             data-block-jump-link="true"
    >
        <div class="content">
            <section>
                <form method="post" action="{{ .FormAction }}">
                    {{ template "partials/common/nonces.tmpl" .Nonces }}
                    <input type="hidden" name="provider" value="{{ .FeatureInfo.Tag }}"/>

                    <fieldset>
                        <div>
                            <button class="primary" type="submit" name="submit" value="create">{{ _ "Setup new backup codes" }}</button>
                            <button class="danger" type="submit" name="submit" value="revoke">{{ _ "Revoke existing backup codes" }}</button>
                        </div>
                    </fieldset>

                </form>
            </section>
        </div>
    </article>

</main>
{{ template "partials/footer.tmpl" . }}
{{ featurePartials "body" "tail" }}
</body>
</html>
