/* scrolling mouse icon */

@keyframes iconScrollingMouse {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
  100% {
    opacity: 0;
  }
}

[data-block-type='icon'] > .content .icon.icon--scrolling-mouse {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 34px;
  height: 54px;
  margin: auto;
}

[data-block-type='icon'] > .content .icon.icon--scrolling-mouse {
  background-color: var(--block--icon--bg);
  border: 2px solid var(--block--icon--fg);
  border-radius: 34px;
  box-shadow: 3px 3px 5px -5px var(--block--icon--bg);
}

[data-block-type='icon'] > .content .icon.icon--scrolling-mouse::before {
  content: "";
  width: 4px;
  height: 14px;
  background: var(--block--icon--accent--bg);
  border-radius: 2px;
  margin-top: 10px;
}

[data-block-type='icon'] > .content .icon.icon--scrolling-mouse::after {
  content: "";
  width: 4px;
  height: 3px;
  background-color: var(--block--icon--bg);
  position: absolute;
  display: block;
  animation: iconScrollingMouse ease 1s infinite;
}
