
article, section, nav, header, footer {
  display: block;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--page--heading--font-family);
  margin-bottom: 10px;
  font-weight: bold;
}
h1, .h1 { font-size: var(--page--h1--font-size); }
h2, .h2 { font-size: var(--page--h2--font-size); }
h3, .h3 { font-size: var(--page--h3--font-size); }
h4, .h4 { font-size: var(--page--h4--font-size); }
h5, .h5 { font-size: var(--page--h5--font-size); }
h6, .h6 { font-size: var(--page--h6--font-size); }

.auto-scroll-x {
  overflow-x: auto;
}
.auto-scroll-x :first-child {
  margin-top: 0!important;
}
.auto-scroll-x :last-child {
  margin-bottom: 0!important;
}

.block > .content > :is(header,summary) > :is(h1,.h1),
.block > .content > :is(header,summary) > :is(h2,.h2),
.block > .content > :is(header,summary) > :is(h3,.h3),
.block > .content > :is(header,summary) > :is(h4,.h4),
.block > .content > :is(header,summary) > :is(h5,.h5),
.block > .content > :is(header,summary) > :is(h6,.h6) {
  display: inline-flex;
}

textarea:focus,
input:focus {
  outline: none;
}

p.dropcap:first-child:first-letter {
  float: left;
  font-weight: bold;
  font-family: var(--page--dropcap--font-family);
  font-size:   var(--page--dropcap--font-size);
  padding: 0;
  margin: 0;
}

p:not(:first-child) {
  margin-top: var(--main--block--margins);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.rotate-315 {
  transform: rotate(315deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.rotate-225 {
  transform: rotate(225deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-135 {
  transform: rotate(135deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-45 {
  transform: rotate(45deg);
}

.invert-x {
  transform: rotateX(180deg);
}

.invert-y {
  transform: rotateY(180deg);
}

a:is(:focus,:visited,:active,:hover), a {
  color: var(--style--fg);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
}

a.decorated {
  display: inline-flex;
  color: var(--style--fg);
  border-bottom: 3px solid;
  position: relative;
  padding-right: 25px;
}

a.decorated:not(:only-child):not(:first-child) {
  margin-top: var(--page--flex--gap);
}

a.decorated[target='_blank']:after {
  content: '';
  position: absolute;
  top: -5px;
  right: -1px;
  width: 0;
  height: 0;
  border-top:    5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left:   5px solid;
  transform: rotate(-45deg);
  transition-delay: var(--page--ani--duration--short);
}


/* description lists */

.block > .content dl {
  max-width:  100%;
  margin:     var(--page--flex--gap) auto;
}

.block > .content dl > dt {
  display: inline-block;
  font-weight: bold;
}

.block > .content dl > dd {
  display: block;
  padding-left: calc(var(--page--flex--gap) * 4);
  margin-bottom: var(--page--flex--gap);
}

@media screen and (max-width: 1024px) {
  .block > .content dl > dd {
    padding-left: calc(var(--page--flex--gap) * 2);
  }
}

@media screen and (max-width: 768px) {
  .block > .content dl > dd {
    padding-left: var(--page--flex--gap);
  }
}

/* list fields */

.block > .content :not(nav,.carousel) > :is(ul,ol) {
  margin-top:  10px;
  margin-left: 34px;
}

:is(nav,.carousel) > :is(ul,ol) li {
  list-style: none;
}

.block > .content :not(nav,.carousel) > :is(ul,ol) > li > :is(ul,ol) {
  margin-top:  0;
}

.block > .content :not(nav,.carousel) > :is(ul,ol) > li::marker {
  display: inline-block;
}

/* table fields */

:root {
  --field--table--column--min-width: 50px;
}

.block > .content table {
  width: 100%;
  margin: var(--page--flex--gap) auto;
  border-collapse: collapse;
  overflow-x: auto;
  max-width: 100%;
}

.block > .content table > thead {
  --style--bg: var(--style--accent--bg);
  --style--fg: var(--style--accent--fg);
  background-color: var(--style--bg);
  color:            var(--style--fg);
  border: 1px solid var(--style--bg);
}

.block > .content table > thead th {
  text-align: center;
  min-width: var(--field--table--column--min-width);
}

.block > .content table > :is(thead,tbody) :is(th,td) {
  padding: 10px 20px;
  vertical-align: top;
}

.block > .content table > tbody {
  border: 1px solid;
}

.block > .content table > tbody > tr:nth-child(even) {
  background-color: var(--style--alternate--bg);
  color:            var(--style--alternate--fg);
}

@media screen and (max-width: 1024px) {
  .block > .content :is(table,thead,tbody,tfoot,tr,th,td) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flex-basis: 100%;
  }

  /* visually remove the table header, sr-only */
  .block > .content table > thead {
    width: 0;
    height: 0;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 0;
    border: none;
  }

} /* end media screen max-width 1024px */

@media screen and (max-width: 420px) {
  .block > .content :is(table,thead,tbody,tfoot,tr,th,td) {
    flex-wrap: nowrap;
    flex-basis: 100%;
  }
}

/* code fields */

:root {
  --field--code--font-family: var(--page--monospace--font-family);
  --field--code--font-size:   12px;
  --field--code--line-height: 16px;
  --field--code--font-weight: bold;
}

.block > .content code {
  display:     block;
  overflow-x:  auto;
  padding:     calc(var(--page--flex--gap) / 2) var(--page--flex--gap);
  padding-right: 0;
  color:       var(--style--accent--fg);
  background:  var(--style--accent--bg);
  font-size:   var(--field--code--font-size);
  font-family: var(--field--code--font-family);
  font-weight: var(--field--code--font-weight);
  line-height: var(--field--code--line-height);
}

.block > .content p > code {
  display: inline-block;
  padding: 0px 2px;
}

.block > .content :not(p) > code {
  text-align: left;
  white-space: pre;
  border: 1px solid;
  margin: var(--page--flex--gap) auto;
}

.block > .content :not(p) > code.decorated {
  white-space: initial;
}

.block > .content :not(p) > code.decorated ol > li {
  margin: 0;
  white-space: pre;
  text-align: left;
  line-height: var(--field--code--line-height);
  padding: 0 0 0 var(--page--flex--gap--sm);
  border-left: 1px solid var(--style--accent--fg);
}

.block > .content :not(p) > code.decorated ol > li::marker {
  color: var(--style--accent--fg);
  font-weight: bold;
  content: counter(list-item) " ";
  margin-right: 10px;
}

.block > .content :not(p) > code.decorated ol > li:hover {
  color:      var(--style--highlight--fg);
  background: var(--style--highlight--bg);
  width: 100%;
  min-width: fit-content;
}

.block > .content :not(p) > code.decorated ol > li:hover::marker {
  color: var(--style--accent--fg);
  font-weight: bold;
  content: counter(list-item) " ";
  margin-right: 10px;
}

/* blockquote fields */

.block > .content blockquote {
  margin: 0;
  padding:       25px;
  border-radius: 5px;
  color:      var(--style--accent--fg);
  background: var(--style--accent--bg);
}

.block > .content blockquote::before,
.block > .content blockquote::after {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  position: absolute;
}

.block > .content blockquote::before {
  content: '\201C';
  top: 0;
  left: 0;
}

.block > .content blockquote::after {
  content: '\201D';
  bottom: -20px;
  right: 20px;
}

.block > .content blockquote p::before {
  content: '\201C';
}

.block > .content blockquote p::after {
  content: '\201D';
}

.block > .content blockquote + figcaption {
  width: 100%;
  text-align: right;
}

.block > .content blockquote + figcaption > cite {
  font-style: italic;
}

.block > .content blockquote + figcaption::before {
  content: '\2013';
  margin-right: 5px;
}

/* figure field */

.block > .content figure {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  max-width:  200px;
}

.block > .content figure[data-field-figure-float='left'] {
  float: left;
  margin: 0;
}

.block > .content figure[data-field-figure-float='right'] {
  float: right;
  margin: 0;
}

.block > .content figure[data-field-figure-size='big'] {
  max-width:  500px;
  max-height: 500px;
}

.block > .content figure:not(:only-child):first-child {
  margin-top: var(--page--flex--gap);
}

.block > .content figure:not(:only-child):last-child {
  margin-bottom: var(--page--flex--gap);
}

.block > .content figure > img {
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: contain;
}

.block > .content figure > figcaption {
  background: var(--style--fg);
  color:      var(--style--bg);
  text-align: center;
  font-style: italic;
}

/* hr */

.block > .content hr {
  border: none;
  border-top: 3px double var(--style--fg);
}

/* kbd */

.block > .content kbd {
  font-weight: bold;
  font-family: var(--page--monospace--font-family);
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 3px;
  padding: 1px 4px;
  box-shadow: 1px 1px 1px 1px;
}

/* form button */

:root {
  --field--button--default--fg: var(--style--accent--fg);
  --field--button--default--bg: var(--style--accent--bg);
  --field--button--submit--fg: var(--color--dark);
  --field--button--submit--bg: var(--color--social);
  --field--button--reset--fg: var(--color--dark);
  --field--button--reset--bg: var(--color--active);
}

.block > .content button {
  --style--fg: var(--field--button--default--fg);
  --style--bg: var(--field--button--default--bg);
  display:    inline-block;
  min-width:  110px;
  border:     none;
  padding:    10px;
  color:      var(--style--fg);
  background: var(--style--bg);
  cursor:     pointer;
}

.block > .content button:hover {
  opacity: 0.77;
}

.block > .content button[type='submit'] {
  --style--fg: var(--field--button--submit--fg);
  --style--bg: var(--field--button--submit--bg);
}

.block > .content button[type='reset'] {
  --style--fg: var(--field--button--reset--fg);
  --style--bg: var(--field--button--reset--bg);
}

/* form fieldset */
.block > .content fieldset {
  padding: 25px;
  border: 1px solid;
}

.block > .content fieldset legend {
  padding: 5px;
  background: var(--style--fg);
  color:      var(--style--bg);
}
