
:is([data-block-type='link-list'],[data-block-aside-type='link-list'])
> .content > section > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

:is([data-block-type='link-list'],[data-block-aside-type='link-list'])
> .content > section > ul li {
  display: block;
  width: 100%;
}

:is([data-block-type='link-list'],[data-block-aside-type='link-list'])
> .content > section > ul li a {
  display: block;
  width: 100%;
}

aside > [data-block-type='link-list'] > .content.content > section > ul {
  flex-direction: column;
  margin-left: 0;
}

aside > [data-block-type='link-list'] > .content.content > section > ul li {
  display: inline-block;
  width: auto;
}

@media screen and (min-width: 768px) {
  :not(aside) > [data-block-type='link-list'] > .content > section > ul {
    flex-direction: row;
  }
  :not(aside) > [data-block-type='link-list'] > .content > section > ul li {
    display: inline-block;
    width: auto;
  }
}
