/* responsiveness */

/* mobile sm */
@media screen and (min-width: 0px) {
  :root {
    --page--column: var(--mobile--sm--column);
    --page--column--padding: var(--mobile--sm--padding);

    --main--block--profile--fo--max-width: 100%;
    --main--block--profile--fo--margin-left: 0;
    --main--block--profile--fo--margin-right: 0;
    --main--block--profile--fo--padding-left: 15px;
    --main--block--profile--fo--padding-right: 15px;

    --main--block--profile--fi--max-width: 100%;
    --main--block--profile--fi--margin-left: 0;
    --main--block--profile--fi--margin-right: 0;
    --main--block--profile--fi--padding-left: 15px;
    --main--block--profile--fi--padding-right: 15px;

    --main--block--profile--oo--max-width: 100%;
    --main--block--profile--oo--margin-left: 0;
    --main--block--profile--oo--margin-right: 0;
    --main--block--profile--oo--padding-left: 15px;
    --main--block--profile--oo--padding-right: 15px;

    --main--block--profile--oi--max-width: 100%;
    --main--block--profile--oi--margin-left: 0;
    --main--block--profile--oi--margin-right: 0;
    --main--block--profile--oi--padding-left: 15px;
    --main--block--profile--oi--padding-right: 15px;
  }

  .d--mobile                   { display: block;        }
  .d--mobile--flex             { display: flex;         }
  .d--mobile--block            { display: block;        }
  .d--mobile--inline           { display: inline;       }
  .d--mobile--inline-flex      { display: inline-flex;  }
  .d--mobile--inline-block     { display: inline-block; }
  .d--mobile--sm               { display: flex;         }
  .d--mobile--sm--flex         { display: flex;         }
  .d--mobile--sm--block        { display: block;        }
  .d--mobile--sm--inline       { display: inline-flex;  }
  .d--mobile--sm--inline-flex  { display: inline-flex;  }
  .d--mobile--sm--inline-block { display: inline-block; }
}

/* mobile md */
@media screen and (min-width: 768px) {
  :root {
    --page--column: var(--mobile--md--column);
    --page--column--padding: var(--mobile--md--padding);
    --page--side-menu--width: 34%;

    --page--h1--font-size: 30px;
    --page--h2--font-size: 24px;
    --page--h3--font-size: 18px;
    --page--h4--font-size: 18px;
    --page--h5--font-size: 16px;
    --page--h6--font-size: 16px;
    --page--h1--line-height: 30px;
    --page--h2--line-height: 24px;
    --page--h3--line-height: 18px;
    --page--h4--line-height: 18px;
    --page--h5--line-height: 16px;
    --page--h6--line-height: 16px;
    --page--content--font-size: 14px;
    
    --main--block--profile--fo--max-width: var(--page--column);
    --main--block--profile--fo--margin-left: auto;
    --main--block--profile--fo--margin-right: auto;
    --main--block--profile--fo--padding-left: 0;
    --main--block--profile--fo--padding-right: 0;

    --main--block--profile--fi--max-width: var(--page--column);
    --main--block--profile--fi--margin-left: auto;
    --main--block--profile--fi--margin-right: auto;
    --main--block--profile--fi--padding-left: var(--page--column--padding);
    --main--block--profile--fi--padding-right: var(--page--column--padding);

    --main--block--profile--oo--max-width: var(--page--column);
    --main--block--profile--oo--margin-left: auto;
    --main--block--profile--oo--margin-right: auto;
    --main--block--profile--oo--padding-left: 0;
    --main--block--profile--oo--padding-right: 0;

    --main--block--profile--oi--max-width: var(--page--column);
    --main--block--profile--oi--margin-left: auto;
    --main--block--profile--oi--margin-right: auto;
    --main--block--profile--oi--padding-left: var(--page--column--padding);
    --main--block--profile--oi--padding-right: var(--page--column--padding);
  }

  .d--mobile                   { display: block;        }
  .d--mobile--flex             { display: flex;         }
  .d--mobile--block            { display: block;        }
  .d--mobile--inline           { display: inline;       }
  .d--mobile--inline-flex      { display: inline-flex;  }
  .d--mobile--inline-block     { display: inline-block; }
  .d--mobile--md               { display: flex;         }
  .d--mobile--md--flex         { display: flex;         }
  .d--mobile--md--block        { display: block;        }
  .d--mobile--md--inline       { display: inline-flex;  }
  .d--mobile--md--inline-flex  { display: inline-flex;  }
  .d--mobile--md--inline-block { display: inline-block; }
}

/* mobile lg */
@media screen and (min-width: 1024px) {
  :root {
    --page--column: var(--mobile--lg--column);
    --page--column--padding: var(--mobile--lg--padding);

    --page--h1--font-size: 30px;
    --page--h2--font-size: 24px;
    --page--h3--font-size: 18px;
    --page--h4--font-size: 18px;
    --page--h5--font-size: 16px;
    --page--h6--font-size: 16px;
    --page--h1--line-height: 30px;
    --page--h2--line-height: 24px;
    --page--h3--line-height: 18px;
    --page--h4--line-height: 18px;
    --page--h5--line-height: 16px;
    --page--h6--line-height: 16px;
    --page--content--font-size: 14px;
  }

  .d--mobile                   { display: block;        }
  .d--mobile--flex             { display: flex;         }
  .d--mobile--block            { display: block;        }
  .d--mobile--inline           { display: inline;       }
  .d--mobile--inline-flex      { display: inline-flex;  }
  .d--mobile--inline-block     { display: inline-block; }
  .d--mobile--lg               { display: flex;         }
  .d--mobile--lg--flex         { display: flex;         }
  .d--mobile--lg--block        { display: block;        }
  .d--mobile--lg--inline       { display: inline;       }
  .d--mobile--lg--inline-flex  { display: inline-flex;  }
  .d--mobile--lg--inline-block { display: inline-block; }
}

/* desktop sm */
@media screen and (min-width: 1200px) {
  :root {
    --page--column: var(--desktop--sm--column);
    --page--column--padding: var(--desktop--sm--padding);

    --page--h1--font-size: 32px;
    --page--h2--font-size: 26px;
    --page--h3--font-size: 20px;
    --page--h4--font-size: 20px;
    --page--h5--font-size: 18px;
    --page--h6--font-size: 18px;
    --page--h1--line-height: 32px;
    --page--h2--line-height: 26px;
    --page--h3--line-height: 20px;
    --page--h4--line-height: 20px;
    --page--h5--line-height: 18px;
    --page--h6--line-height: 18px;
    --page--content--font-size: 14px;
  }

  .d--desktop                   { display: block;        }
  .d--desktop--flex             { display: flex;         }
  .d--desktop--block            { display: block;        }
  .d--desktop--inline           { display: inline;       }
  .d--desktop--inline-flex      { display: inline-flex;  }
  .d--desktop--inline-block     { display: inline-block; }
  .d--desktop--sm               { display: flex;         }
  .d--desktop--sm--flex         { display: flex;         }
  .d--desktop--sm--block        { display: block;        }
  .d--desktop--sm--inline       { display: inline-flex;  }
  .d--desktop--sm--inline-flex  { display: inline-flex;  }
  .d--desktop--sm--inline-block { display: inline-block; }
}

/* desktop md */
@media screen and (min-width: 1440px) {
  :root {
    --page--column: var(--desktop--md--column);
    --page--column--padding: var(--desktop--md--padding);

    --page--h1--font-size: 38px;
    --page--h2--font-size: 30px;
    --page--h3--font-size: 24px;
    --page--h4--font-size: 24px;
    --page--h5--font-size: 20px;
    --page--h6--font-size: 20px;
    --page--h1--line-height: 38px;
    --page--h2--line-height: 30px;
    --page--h3--line-height: 24px;
    --page--h4--line-height: 24px;
    --page--h5--line-height: 20px;
    --page--h6--line-height: 20px;
    --page--content--font-size: 14px;
  }

  .d--desktop                   { display: block;        }
  .d--desktop--flex             { display: flex;         }
  .d--desktop--block            { display: block;        }
  .d--desktop--inline           { display: inline;       }
  .d--desktop--inline-flex      { display: inline-flex;  }
  .d--desktop--inline-block     { display: inline-block; }
  .d--desktop--md               { display: flex;         }
  .d--desktop--md--flex         { display: flex;         }
  .d--desktop--md--block        { display: block;        }
  .d--desktop--md--inline       { display: inline-flex;  }
  .d--desktop--md--inline-flex  { display: inline-flex;  }
  .d--desktop--md--inline-block { display: inline-block; }
}

/* desktop lg */
@media screen and (min-width: 1600px) {
  :root {
    --page--column: var(--desktop--lg--column);
    --page--column--padding: var(--desktop--lg--padding);
  }

  .d--desktop                   { display: block;        }
  .d--desktop--flex             { display: flex;         }
  .d--desktop--block            { display: block;        }
  .d--desktop--inline           { display: inline;       }
  .d--desktop--inline-flex      { display: inline-flex;  }
  .d--desktop--inline-block     { display: inline-block; }
  .d--desktop--lg               { display: flex;         }
  .d--desktop--lg--flex         { display: flex;         }
  .d--desktop--lg--block        { display: block;        }
  .d--desktop--lg--inline       { display: inline-flex;  }
  .d--desktop--lg--inline-flex  { display: inline-flex;  }
  .d--desktop--lg--inline-block { display: inline-block; }
}
