:root {
  --page--masthead--fg: var(--secondary--fg);
  --page--masthead--bg: var(--secondary--bg);
  --page--masthead--icon--fg: var(--page--masthead--fg);
  --page--masthead--icon--bg: var(--page--masthead--bg);
}

#side-menu,
#search-menu,
input[type='radio'][name='main-menu'] {
  display: none;
}

.masthead {
  position: fixed;
  top: 0;
  z-index: var(--z--page--nav);
  width: 100vw;
  height: var(--page--masthead--full-height);
  border-bottom: 3px solid var(--page--masthead--fg);
  background: var(--page--masthead--bg);
  color:      var(--page--masthead--fg);
}

.masthead :is(ul,ol,li) {
  list-style: none;
}

.masthead a:focus,
.masthead a:visited,
.masthead a:active,
.masthead a:hover,
.masthead a {
  color: var(--page--masthead--fg);
}

.masthead .banner {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.masthead .brand {
  display: inline-flex;
  position: relative;
  min-width: 200px;
  height: 100%;
  align-items: center;
}

.masthead .brand .site-logo {
  display: inline-flex;

  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;

  width: auto;
  height: 54px;

  vertical-align: middle;
}

.masthead .brand .site-logo img {
  width: auto;
  height: 54px;
  margin: 0;
  padding: 0;
}

.masthead .brand .brand--copy {
  margin-left: 10px;
  display: inline-flex;
  position: relative;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.masthead .brand .brand--copy a {
  display: inline-block;
}

.masthead .brand .brand--copy a:hover {
  opacity: 1;
}

.masthead .brand .brand--copy .site-name {
  display: inline-block;
  line-height: var(--page--heading--font-size);
  font-size:   var(--page--heading--font-size);
}

.masthead .brand .brand--copy .site-tag-line {
  display: inline-block;
  line-height: var(--page--content--font-size);
  font-size:   var(--page--content--font-size);
}

.masthead .menus {
  display: inline-flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
}

/* nav menu controls */

.masthead .controls {
  position: relative;
  display: flex;
}

.masthead #menu-close--label {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--z--menus);
}

.masthead #side-close--label {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z--page);
  background: var(--style--overlay--light--bg);
}