/* main header block */

[data-block-type='header'] > nav {
  --style--bg: var(--style--accent--bg);
  --style--fg: var(--style--accent--fg);
  background-color: var(--style--bg);
  color:            var(--style--fg);
}

[data-block-type='header'] > nav > :is(ul,ol) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: var(--page--flex--gap);
  min-height: 100px;
  max-width: var(--page--column);
  margin-left: auto;
  margin-right: auto;
  padding: var(--page--flex--gap) var(--page--column--padding);
}

[data-block-type='header'] > nav > :is(ul,ol) > li {
  list-style: none;
}

[data-block-type='header'][style*='--style--bg--image'][data-block-background='parallax']
> .content {
  min-height: fit-content;
}
