
#top {
  padding-bottom: var(--page--masthead--full-height);
}

.jump-to.anchor {
  display: inline-block;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: var(--z--page--nav);
  transition: all var(--page--ani--duration--short);
}

.jump-to.top {
  text-align: center;
  padding: 0;
  color: #ffffff;
  background: var(--style--overlay--dark--bg);
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
  width: 50px;
  line-height: 50px;
  font-size: 18px;
}

.jump-to.top:after {
  font-weight: var(--fa-solid--font-weight);
  font-family: var(--fa-solid--font-family);
  content:     var(--icon--jumptop--content);
}

.jump-link {
  display: none;
  width: var(--page--h2--line-height);
  height: var(--page--h2--line-height);
  align-items: center;
  justify-content: center;
  line-height: var(--page--h2--line-height);
  font-size: var(--page--h2--font-size);
  font-weight: normal;
  vertical-align: middle;
  margin-top: -10px;
}

.jump-link:after {
  font-weight: var(--fa-solid--font-weight);
  font-family: var(--fa-solid--font-family);
  content:     var(--icon--link--content);
  font-size:   var(--page--h3--font-size);
  line-height: var(--page--h3--line-height);
}

.block > .content > header:hover .jump-link,
.jump-link:hover {
  display: inline-flex;
  align-items: start;
}

.jump-top {
  display: none;
  font-size: 12px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .jump-top {
    display: block;
  }
  .jump-to.anchor,
  .jump-to.top {
    display: none;
  }
}
