:root {
  --block--card--copytext--min-height: 50%;
  --block--card--copytext--width:      54%;
}

[data-block-type='card'] {
  width: 100%;
  height: 100%;
}

[data-block-type='card'] > .context:focus,
[data-block-type='card'] > .context:visited,
[data-block-type='card'] > .context:active,
[data-block-type='card'] > .context:hover,
[data-block-type='card'] > .context {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border: none;
  background: none;
  opacity: 1;
  overflow: hidden;
}

[data-block-type='card'] > .context > .copytext {
  --style--bg: var(--style--overlay--dark--bg);
  --style--fg: var(--style--overlay--dark--fg);
  display: block;
  width:       var(--block--card--copytext--width);
  min-height:  var(--block--card--copytext--min-height);
  padding:     var(--page--flex--gap);
  background:  var(--style--bg);
  color:       var(--style--fg);
}

[data-block-type='card'] > .context > picture ~ .copytext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

[data-block-type='card'] > a.context:not([target='_blank']) > .copytext:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0;
  height: 0;
  border: 10px solid var(--style--fg);
}

[data-block-type='card'] > a.context[target='_blank'] > .copytext:after {
  content: '';
  position: absolute;
  top: -13px;
  right: -3px;
  width: 0;
  height: 0;
  border-top:    20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left:   20px solid var(--style--fg);
  transform: rotate(-45deg);
}

/* image supports */

[data-block-type='card'] > .context picture img {
  width:           100%;
  height:          auto;
  min-height:      var(--block--image--size);
  object-fit:      var(--block--image--fit);
  object-position: var(--block--image--position);
}

[data-card-layout='profile'] > .context > .copytext > img {
  width: 25%;
  float: left;
  margin-right: var(--page--flex--gap);
  margin-bottom: var(--page--flex--gap);
}

[data-card-no-image='true']  > .context picture img {
  height: var(--block--image--size);
}
