header nav .menu-item > .parent:after {
  font-weight: var(--fa-solid--font-weight);
  font-family: var(--fa-solid--font-family);
  content: var(--icon--closed--content);
}

/* nav menu states */

#menu-close:checked ~ .masthead nav .sub-menu {
  display: none;
}

/* masthead menus - mobile */

@media screen and (max-width: 1023.99px) {

  /* side-menu states */

  #side-menu:checked ~ .masthead .menus[data-mobile-style='side'] #menu-close--label {
    display: none;
  }

  #side-menu:checked ~ .masthead .menus[data-mobile-style='side'] #side-close--label {
    display: block;
  }

  #side-menu:checked ~ .masthead .menus[data-mobile-style='side'] .controls .search {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: var(--page--side-menu--width);
    height: var(--page--masthead--real-height);
    border-bottom: 3px solid var(--secondary--bg);
    background: var(--primary--bg);
    color:      var(--primary--fg);
  }

  #side-menu:checked ~ .masthead .menus[data-mobile-style='side'] .controls .search form {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background: var(--secondary--fg);
  }

  #side-menu:checked ~ .masthead .menus[data-mobile-style='side'] .controls .search form input {
    width: 80%;
  }

  #side-menu:not(:checked) ~ .masthead .menus[data-mobile-style='side'] #side-menu--label .closed,
  #side-menu:checked       ~ .masthead .menus[data-mobile-style='side'] #side-menu--label .opened {
    display: inline-block;
  }
  #side-menu:not(:checked) ~ .masthead .menus[data-mobile-style='side'] #side-menu--label .opened,
  #side-menu:checked       ~ .masthead .menus[data-mobile-style='side'] #side-menu--label .closed {
    display: none;
  }

  .masthead .menus[data-mobile-style='side'] nav .menu-item label.close {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z--menus--sub-menus);
    width: 100%;
    background: none;
    border: none;
    opacity: 0;
    height: 34px;
  }

  .masthead .menus[data-mobile-style='side'] nav .menu-item label a:hover {
    text-decoration: underline;
  }

  .masthead .menus[data-mobile-style='side'] nav > :is(ul,ol) > .menu-item .sub-menu {
    display: none;
    flex-direction: column;
  }

  .masthead .menus[data-mobile-style='side'] > .controls > div,
  .masthead .menus[data-mobile-style='side'] > .controls > div.search button {
    display: inline-flex;
    height: 34px;
    width: 44px;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }

  .masthead .menus[data-mobile-style='side'] > .controls div.search form {
    display: inline-flex;
    align-items: center;
    background: var(--secondary--fg);
  }

  .masthead .menus[data-mobile-style='side'] > .controls #search-menu--label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .masthead .menus[data-mobile-style='side'] > .controls #search-menu--label i {
    display: block;
  }

  .masthead .menus[data-mobile-style='side'] > .controls .search input,
  .masthead .menus[data-mobile-style='side'] > .controls .search button {
    display: inline-block;
    position: relative;
    background: var(--primary--bg);
    color:      var(--primary--fg);
    border: none;
  }

  .masthead .menus[data-mobile-style='side'] > .controls .search input[name='query'] {
    height: 24px;
    padding: 5px 10px;
  }

  .masthead .menus[data-mobile-style='side'] > .controls .search button[type='submit'] {
    padding: 5px;
    font-size: 18px;
  }

  .masthead .menus[data-mobile-style='side'] > .controls .search button[type='submit']:hover {
    background: var(--secondary--bg);
    color:      var(--secondary--fg);
  }

  .masthead .menus[data-mobile-style='side'] nav,
  .masthead .menus[data-mobile-style='side'] > .controls .search,
  .masthead .menus[data-mobile-style='side'] > .controls .search--toggle {
    display: none;
  }

  .masthead .menus[data-mobile-style='side'] > .controls .side-menu--toggle {
    display: inline-block;
  }

  .masthead .menus[data-mobile-style='side'] nav {
    --style--bg: var(--secondary--bg);
    --style--fg: var(--secondary--fg);
    background:  var(--secondary--bg);
    color:       var(--secondary--fg);
    position: fixed;
    top: var(--page--masthead--real-height);
    left: 0;
    width: var(--page--side-menu--width);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .masthead .menus[data-mobile-style='side'] > nav > :is(ul,ol),
  .masthead .menus[data-mobile-style='side'] > nav > :is(ul,ol) li,
  .masthead .menus[data-mobile-style='side'] > nav > :is(ul,ol) li label {
    display: block;
    width: 100%;
  }
  .masthead .menus[data-mobile-style='side'] > nav > :is(ul,ol) li {
    padding: 10px 0 0 10px;
  }

  #side-menu:checked ~ .masthead .menus[data-mobile-style='side'] {
    z-index: var(--z--page--overlay);
  }

  .masthead .menus[data-mobile-style='side'] nav a:focus,
  .masthead .menus[data-mobile-style='side'] nav a:visited,
  .masthead .menus[data-mobile-style='side'] nav a:active,
  .masthead .menus[data-mobile-style='side'] nav a:hover,
  .masthead .menus[data-mobile-style='side'] nav a {
    color: var(--style--fg);
  }

  /* search-menu states */

  #side-menu:checked ~ .masthead .menus[data-mobile-style='side'] nav {
    display: inline-block;
  }

  #side-menu:checked ~ .masthead .menus:not([data-mobile-style='side']) nav li label.close,
  #side-menu:not(:checked) ~ .masthead .menus[data-mobile-style='side'] nav li label.close {
    display: none;
  }

} /* end media screen max-width 1023.99px */

/* masthead menus - desktop */

@media screen and (min-width: 1024px) {

  /* side-menu states */

  #side-menu:checked ~ .masthead .menus[data-desktop-style='side'] #menu-close--label {
    display: none;
  }

  #side-menu:checked ~ .masthead .menus[data-desktop-style='side'] #side-close--label {
    display: block;
  }

  #side-menu:checked ~ .masthead .menus[data-desktop-style='side'] .controls .search {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: var(--page--side-menu--width);
    height: var(--page--masthead--real-height);
    border-bottom: 3px solid var(--secondary--bg);
    background: var(--primary--bg);
    color:      var(--primary--fg);
  }

  #side-menu:checked ~ .masthead .menus[data-desktop-style='side'] .controls .search form {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background: var(--secondary--fg);
  }

  #side-menu:checked ~ .masthead .menus[data-desktop-style='side'] .controls .search form input {
    width: 80%;
  }

  #side-menu:not(:checked) ~ .masthead .menus[data-desktop-style='side'] #side-menu--label .closed,
  #side-menu:checked       ~ .masthead .menus[data-desktop-style='side'] #side-menu--label .opened {
    display: inline-block;
  }
  #side-menu:not(:checked) ~ .masthead .menus[data-desktop-style='side'] #side-menu--label .opened,
  #side-menu:checked       ~ .masthead .menus[data-desktop-style='side'] #side-menu--label .closed {
    display: none;
  }

  #menu-close:not(:checked) ~ .masthead .menus[data-desktop-style='menu'] #menu-close--label {
    display: block;
  }

  .masthead .menus[data-desktop-style='mega'] nav :is(ul,ol),
  .masthead .menus[data-desktop-style='menu'] nav :is(ul,ol) {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    text-align: left;
    background: var(--secondary--bg);
    color:      var(--secondary--fg);
  }

  .masthead .menus[data-desktop-style='mega'] nav > :is(ul,ol) li :is(ul,ol),
  .masthead .menus[data-desktop-style='mega'] nav > :is(ul,ol) li :is(ul,ol) li :is(ul,ol),
  .masthead .menus[data-desktop-style='menu'] nav > :is(ul,ol) li :is(ul,ol),
  .masthead .menus[data-desktop-style='menu'] nav > :is(ul,ol) li :is(ul,ol) li :is(ul,ol) {
    flex-direction: column;
  }

  .masthead .menus[data-desktop-style='mega'] nav > :is(ul,ol) li :is(ul,ol),
  .masthead .menus[data-desktop-style='menu'] nav > :is(ul,ol) li :is(ul,ol) {
    display: none;
  }

  .masthead .menus[data-desktop-style='mega'] nav > :is(ul,ol) > li,
  .masthead .menus[data-desktop-style='menu'] nav > :is(ul,ol) > li {
    display: inline-block;
    position: relative;
    height: 34px;
    border-right: 1px solid var(--secondary--fg);
    font-size: 14px;
    line-height: 14px;
    width: 149px;
  }

  .masthead .menus[data-desktop-style='mega'] nav > :is(ul,ol) > li :is(ul,ol) li,
  .masthead .menus[data-desktop-style='menu'] nav > :is(ul,ol) > li :is(ul,ol) li {
    border-right: none;
    width: 150px;
  }

  .masthead .menus[data-desktop-style='mega'] nav li label,
  .masthead .menus[data-desktop-style='menu'] nav li label {
    display: inline-block;
    min-width: 150px;
    text-align: center;
    vertical-align: middle;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
  }

  .masthead .menus[data-desktop-style='menu'] nav li :is(ul,ol) label {
    text-align: left;
    padding-left: 10px;
  }
  .masthead .menus[data-desktop-style='menu'] nav li :is(ul,ol) li :is(ul,ol) label {
    padding-left: 20px;
  }

  .masthead .menus[data-desktop-style='side'] nav li label.close,
  .masthead .menus[data-desktop-style='mega'] nav li label.close,
  .masthead .menus[data-desktop-style='menu'] nav li label.close {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z--menus--sub-menus);
    width: 100%;
    background: none;
    border: none;
    opacity: 0;
    height: 34px;
  }

  .masthead .menus[data-desktop-style='side'] nav li label a:hover,
  .masthead .menus[data-desktop-style='mega'] nav li label a:hover,
  .masthead .menus[data-desktop-style='menu'] nav li label a:hover {
    text-decoration: underline;
  }

  .masthead .menus[data-desktop-style='mega'] nav li label:hover a,
  .masthead .menus[data-desktop-style='mega'] nav li label:hover,
  .masthead .menus[data-desktop-style='menu'] nav li label:hover a,
  .masthead .menus[data-desktop-style='menu'] nav li label:hover {
    color:      var(--primary--fg);
  }
  .masthead .menus[data-desktop-style='mega'] nav li label:hover,
  .masthead .menus[data-desktop-style='menu'] nav li label:hover {
    background: var(--primary--bg);
  }

  .masthead .menus[data-desktop-style='mega'] nav > :is(ul,ol) > li :is(ul,ol) {
    position: fixed;
    top: var(--page--masthead--full-height);
    left: 0;
    z-index: var(--z--menus--sub-menus);
    width: 100%;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    padding: 25px;
    border-bottom: 3px solid var(--secondary--fg);
    min-height: 180px;
  }

  .masthead .menus[data-desktop-style='mega'] nav > :is(ul,ol) > li :is(ul,ol) li :is(ul,ol) {
    display: flex;
    flex-direction: column;
  }

  .masthead .menus[data-desktop-style='mega'] nav > :is(ul,ol) > li :is(ul,ol) li {
    position: relative;
    height: auto;
  }

  .masthead .menus[data-desktop-style='mega'] nav > :is(ul,ol) > li :is(ul,ol) li :is(ul,ol) {
    display: none;
  }

  .masthead .menus[data-desktop-style='menu'] nav > :is(ul,ol) > li > :is(ul,ol) {
    position: fixed;
    top: var(--page--masthead--full-height);
    z-index: var(--z--menus--sub-menus);
  }

  .masthead .menus[data-desktop-style='menu'] nav > :is(ul,ol) > li > :is(ul,ol) .sub-menu {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: var(--z--menus--sub-menus);
  }

  .masthead .menus[data-desktop-style='menu'] nav > :is(ul,ol) > li :is(ul,ol) li {
    height: auto;
  }

  .masthead .menus[data-desktop-style='menu'] nav > :is(ul,ol) > li :is(ul,ol) li :is(ul,ol) {
    display: none;
  }

  .masthead .menus[data-desktop-style='side'] nav > :is(ul,ol) > li :is(ul,ol),
  .masthead .menus[data-desktop-style='side'] nav > :is(ul,ol) > li :is(ul,ol) li :is(ul,ol) {
    display: none;
    flex-direction: column;
  }

  .masthead .menus[data-desktop-style='side'] > .controls > div,
  .masthead .menus[data-desktop-style='mega'] > .controls > div,
  .masthead .menus[data-desktop-style='menu'] > .controls > div,
  .masthead .menus[data-desktop-style='side'] > .controls > div.search button,
  .masthead .menus[data-desktop-style='mega'] > .controls > div.search button,
  .masthead .menus[data-desktop-style='menu'] > .controls > div.search button {
    display: inline-flex;
    height: 34px;
    width: 44px;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }

  .masthead .menus[data-desktop-style='mega'] > .controls div.search,
  .masthead .menus[data-desktop-style='menu'] > .controls div.search {
    width: 100%;
  }

  .masthead .menus[data-desktop-style='side'] > .controls div.search form,
  .masthead .menus[data-desktop-style='mega'] > .controls div.search form,
  .masthead .menus[data-desktop-style='menu'] > .controls div.search form {
    display: inline-flex;
    align-items: center;
    background: var(--secondary--fg);
  }

  .masthead .menus[data-desktop-style='side'] > .controls #search-menu--label,
  .masthead .menus[data-desktop-style='mega'] > .controls #search-menu--label,
  .masthead .menus[data-desktop-style='menu'] > .controls #search-menu--label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .masthead .menus[data-desktop-style='side'] > .controls #search-menu--label i,
  .masthead .menus[data-desktop-style='mega'] > .controls #search-menu--label i,
  .masthead .menus[data-desktop-style='menu'] > .controls #search-menu--label i {
    display: block;
  }

  .masthead .menus[data-desktop-style='side'] > .controls .search input,
  .masthead .menus[data-desktop-style='mega'] > .controls .search input,
  .masthead .menus[data-desktop-style='menu'] > .controls .search input,
  .masthead .menus[data-desktop-style='side'] > .controls .search button,
  .masthead .menus[data-desktop-style='mega'] > .controls .search button,
  .masthead .menus[data-desktop-style='menu'] > .controls .search button {
    display: inline-block;
    position: relative;
    background: var(--primary--bg);
    color:      var(--primary--fg);
    border: none;
  }

  .masthead .menus[data-desktop-style='side'] > .controls .search input[name='query'],
  .masthead .menus[data-desktop-style='mega'] > .controls .search input[name='query'],
  .masthead .menus[data-desktop-style='menu'] > .controls .search input[name='query'] {
    height: 24px;
    padding: 5px 10px;
  }

  .masthead .menus[data-desktop-style='side'] > .controls .search button[type='submit'],
  .masthead .menus[data-desktop-style='mega'] > .controls .search button[type='submit'],
  .masthead .menus[data-desktop-style='menu'] > .controls .search button[type='submit'] {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .masthead .menus[data-desktop-style='side'] > .controls .search button[type='submit']:hover,
  .masthead .menus[data-desktop-style='mega'] > .controls .search button[type='submit']:hover,
  .masthead .menus[data-desktop-style='menu'] > .controls .search button[type='submit']:hover {
    background: var(--secondary--bg);
    color:      var(--secondary--fg);
  }

  .masthead .menus:not([data-desktop-style='side']) > .controls .side-menu--toggle,
  .masthead .menus[data-desktop-style='side'] nav,
  .masthead .menus[data-desktop-style='side'] > .controls .search,
  .masthead .menus[data-desktop-style='side'] > .controls .search--toggle {
    display: none;
  }

  .masthead .menus[data-desktop-style='side'] > .controls .side-menu--toggle {
    display: inline-block;
  }

  .masthead .menus[data-desktop-style='side'] nav {
    --style--bg: var(--secondary--bg);
    --style--fg: var(--secondary--fg);
    background:  var(--secondary--bg);
    color:       var(--secondary--fg);
    position: fixed;
    top: var(--page--masthead--real-height);
    left: 0;
    width: var(--page--side-menu--width);
    min-width: 200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .masthead .menus[data-desktop-style='side'] > nav > :is(ul,ol),
  .masthead .menus[data-desktop-style='side'] > nav > :is(ul,ol) li,
  .masthead .menus[data-desktop-style='side'] > nav > :is(ul,ol) li label {
    display: block;
    width: 100%;
  }
  .masthead .menus[data-desktop-style='side'] > nav > :is(ul,ol) li {
    padding: 10px 0 0 10px;
  }

  #side-menu:checked ~ .masthead .menus[data-desktop-style='side'] {
    z-index: var(--z--page--overlay);
  }

  .masthead .menus[data-desktop-style='side'] nav a:focus,
  .masthead .menus[data-desktop-style='side'] nav a:visited,
  .masthead .menus[data-desktop-style='side'] nav a:active,
  .masthead .menus[data-desktop-style='side'] nav a:hover,
  .masthead .menus[data-desktop-style='side'] nav a {
    color: var(--style--fg);
  }

  /* update the open/close chevrons */

  /* search-menu states */

  #search-menu:checked       ~ .masthead .menus:not([data-desktop-style='side']) .controls .search--toggle,
  #search-menu:not(:checked) ~ .masthead .menus:not([data-desktop-style='side']) .controls .search--toggle:hover {
    background: var(--primary--bg);
    color:      var(--primary--fg);
  }

  #search-menu:not(:checked) ~ .masthead .menus:not([data-desktop-style='side']) .controls .search--toggle,
  #search-menu:checked       ~ .masthead .menus:not([data-desktop-style='side']) .controls .search--toggle:hover {
    background: var(--secondary--bg);
    color:      var(--secondary--fg);
  }

  #search-menu:checked       ~ .masthead .menus:not([data-desktop-style='side']) .controls .search,
  #search-menu:not(:checked) ~ .masthead .menus:not([data-desktop-style='side']) #search-menu--label .closed,
  #search-menu:checked       ~ .masthead .menus:not([data-desktop-style='side']) #search-menu--label .opened {
    display: inline-flex;
    justify-content: start;
  }
  #search-menu:checked       ~ .masthead .menus:not([data-desktop-style='side']) .menus nav,
  #search-menu:not(:checked) ~ .masthead .menus:not([data-desktop-style='side']) .controls .search,
  #search-menu:not(:checked) ~ .masthead .menus:not([data-desktop-style='side']) #search-menu--label .opened,
  #search-menu:checked       ~ .masthead .menus:not([data-desktop-style='side']) #search-menu--label .closed {
    display: none;
  }

  #side-menu:checked ~ .masthead .menus[data-desktop-style='side'] nav {
    display: inline-block;
  }

  #side-menu:checked ~ .masthead .menus:not([data-desktop-style='side']) nav .menu-item label.close,
  #side-menu:not(:checked) ~ .masthead .menus[data-desktop-style='side'] nav .menu-item label.close {
    display: none;
  }

} /* end media screen min-width 1024px */
