:root {
  --fa--solid--chevron-down: "\f078";
  --fa--solid--chevron-right: "\f054";
  --fa--solid--chevron-up: "\f077";
  --fa--solid--exclamation-circle: "\f06a";
  --fa--solid--info-circle: "\f05a";
  --fa--solid--link: "\f0c1";
  --fa--solid--question-circle: "\f059";
  --fa--solid--times: "\f00d";
}
