{{- if .Theme.Context.Settings.Page.Breadcrumbs }}
    <section class="block" id="breadcrumbs"
             data-block-tag="breadcrumbs"
             data-block-type="content"
             data-block-profile="outer--inner"
             data-block-padding="none"
             data-block-margins="none"
    >
        <div class="content">
            <section>
                <ul class="breadcrumbs">
                    {{ $url := "" }}
                    {{ $list := splitString .RequestArgv.Path "/" }}
                    {{ $last := sub (len $list) 1 }}
                    {{ range $idx,$segment := $list }}
                        {{- if eq $idx 0 }}
                            <li><a href="/" title="{{ _ "homepage" }}">{{ _ "Home"}}</a></li>
                        {{- else if lt $idx $last -}}
                            {{ $url = printf "%s/%s" $url $segment }}
                            <li><a href="{{ $url }}" title="{{ _ "section" }}">{{ toSpacedCamel $segment }}</a></li>
                        {{- else if ne $segment "" -}}
                            {{ $url = printf "%s/%s" $url $segment }}
                            <li><a href="{{ $url }}" title="{{ _ "page" }}">{{ $.Title }}</a></li>
                        {{- end }}
                    {{- end }}
                    {{ if gt (len .RequestArgv.Argv) 0 }}
                        {{ $argv := index .RequestArgv.Argv 0 }}
                        {{ if gt (len $argv) 0 }}
                            {{ $arg := index $argv 0 }}
                            {{ $url = printf "%s/:%s" $.RequestArgv.Path $arg }}
                            <li><a href="{{ $url }}" title="{{ _ "context" }}">:{{ $arg }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </section>
        </div>
    </section>
{{ end -}}
