<input type="checkbox" name="side-menu" id="side-menu"/>
{{- if .SiteSearchPath }}
    <input type="checkbox" name="search-menu" id="search-menu"/>
{{- end }}
{{ $noActiveItems := true }}

<input type="radio" name="main-menu" id="menu-close" checked/>

{{- if .SiteMenu.MainMenu -}}
    {{- template "partials/menu/menu-inputs.tmpl" (dict $ "MenuKey" "main-menu" "Menu" .SiteMenu.MainMenu ) -}}
{{- end -}}

<header class="masthead"
        {{- if .Theme.Context.SiteMenuMobileStyle }} data-mobile-style="{{ .Theme.Context.SiteMenuMobileStyle }}"{{- else }} data-mobile-style="side"{{ end -}}
        {{- if .Theme.Context.SiteMenuDesktopStyle }} data-desktop-style="{{ .Theme.Context.SiteMenuDesktopStyle }}"{{- else }} data-desktop-style="menu"{{ end -}}
>
    <div class="banner page-column">
        <div class="brand">
            <a class="site-home" href="{{ __ .HomePath }}">
                {{- if or .SiteLogoUrl .EnjinInfo.Name .EnjinInfo.TagLine }}
                    {{- if .SiteLogoUrl }}
                        <span class="site-logo"><img src="{{- fsUrl .SiteLogoUrl -}}"
                                                     alt="{{- if .SiteLogoAlt -}}{{- .SiteLogoAlt -}}{{- else -}}site logo{{- end -}}"/></span>
                    {{- end }}
                    <div class="brand--copy">
                        {{- if .EnjinInfo.Name }}
                            <span class="site-name">{{- _ .EnjinInfo.Name /* enjin site name */ -}}</span>
                        {{- end }}
                        {{- if .EnjinInfo.TagLine }}
                            <span class="site-tag-line"><small>{{ _ .EnjinInfo.TagLine /* enjin site tag-line */ }}</small></span>
                        {{- end }}
                    </div>
                {{- end }}
            </a>
        </div>
        {{- if or .SiteMenu.MainMenu .SiteSearchable -}}
            <div class="menus"
                    {{- if .Theme.Context.SiteMenuMobileStyle }} data-mobile-style="{{ .Theme.Context.SiteMenuMobileStyle }}"{{- else }} data-mobile-style="side"{{ end -}}
                    {{- if .Theme.Context.SiteMenuDesktopStyle }} data-desktop-style="{{ .Theme.Context.SiteMenuDesktopStyle }}"{{- else }} data-desktop-style="menu"{{ end -}}
            >
                <label for="side-menu" id="side-close--label"><span
                            class="sr-only">{{ _ "close side menu" /* screen reader only */ }}</span></label>
                <label for="menu-close" id="menu-close--label"><span
                            class="sr-only">{{ _ "close main menu" /* screen reader only */ }}</span></label>

                <nav>
                    <ol>
                        {{ if .SiteMenu.MainMenu }}
                            {{ $lastItemIdx := (sub (len .SiteMenu.MainMenu) 1) }}
                            {{- range $i,$item := .SiteMenu.MainMenu }}
                                {{ if $item.Text }}
                                    {{- template "partials/menu/menu-controls.tmpl" (dict $ "Idx" $i "Item" $item "LastIdx" $lastItemIdx) -}}
                                {{ end }}
                            {{- end }}
                        {{ end }}
                        {{ if gt (len .EnjinInfo.Locales) 1 }}
                            <li class="menu-item">
                                <div class="language-switcher">
                                    {{ range $idx,$tag := .EnjinInfo.Locales }}
                                        {{ if cmpLang $tag $.Request.Language }}
                                            {{ if cmpLang $tag $.EnjinInfo.DefaultLang }}
                                                <a class="selected"
                                                   href="{{ __ $tag.String "/" $.Request.Path }}">{{ _tag $tag }}</a>
                                            {{ else }}
                                                <a class="selected"
                                                   href="{{ __ $tag.String (printf "/%v/" $tag) $.Request.Path }}">{{ _tag $tag }}</a>
                                            {{ end }}
                                        {{ else }}
                                            {{ if cmpLang $tag $.EnjinInfo.DefaultLang }}
                                                <a href="{{ __ $tag.String "/" $.Request.Path }}">{{ _tag $tag }}</a>
                                            {{ else }}
                                                <a href="{{ __ $tag.String (printf "/%v/" $tag) $.Request.Path }}">{{ _tag $tag }}</a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </div>
                            </li>
                        {{ end }}
                    </ol>
                </nav>

                <div class="controls">
                    {{- if .SiteSearchPath }}
                        <div class="search">
                            <form method="get" action="{{ __ .SiteSearchPath }}">
                                <input type="hidden" name="nonce" value="{{ Nonce "site-search-form" }}"/>
                                <input type="search" name="query"
                                       placeholder="{{ _ "Search" /* main menu search field placeholder text */ }}"
                                       value="{{ .SiteSearchQuery }}"/>
                                <button type="submit" value="submit">
                                    <i class="fas fa-search"></i>
                                    <span class="sr-only">{{ _ "Search" /* screen reader only */ }}</span>
                                </button>
                            </form>
                        </div>
                        <div class="search--toggle">
                            <label for="search-menu" id="search-menu--label">
                                <i class="fa-solid fa-search closed"></i>
                                <i class="fa-solid fa-xmark opened"></i>
                                <span class="sr-only">{{ _ "toggle search" /* screen reader only, show/hide search menu */ }}</span>
                            </label>
                        </div>
                    {{- end }}
                    <div class="side-menu--toggle">
                        <label for="side-menu" id="side-menu--label">
                            <i class="fa-solid fa-bars closed"></i>
                            <i class="fa-solid fa-xmark opened"></i>
                            <span class="sr-only">{{ _ "toggle side menu" /* screen reader only, show/hide side menu */ }}</span>
                        </label>
                    </div>
                </div>
            </div>
        {{- end -}}
    </div>
</header>