{{- if .Href -}}
    <a href="{{- .Href -}}" {{- elementAttributes . -}}>
        {{- .Text -}}
    </a>
{{- else -}}
    <span {{- elementAttributes . -}}>
        {{- .Text -}}
    </span>
{{- end -}}