<section class="block"
         id="main-header"
         data-block-tag="main-header"
         data-block-type="header"
         data-block-profile="outer--inner"
         data-block-padding="top"
         data-block-margins="bottom"
         data-header-level="1"
         data-header-count="1">
    <div class="content">
        <h1>
            <a href="{{ __ .SiteSearchPath }}">{{ _ "Site Search"  /* title heading of search page */ }}</a>
        </h1>
    </div>
</section>

<form name="site-search" method="get" action="{{ __ .SiteSearchPath }}">
    <article class="block"
             id="site-search-form"
             data-block-tag="site-search-form"
             data-block-type="content"
             data-block-theme="working"
             data-block-profile="outer--inner"
             data-block-padding="none"
             data-block-margins="bottom">
        <div class="content">
            <section>
                <div class="site-search-form-fields">
                    <input type="hidden" name="nonce" value="{{ Nonce "site-search-form" }}" />
                    <input type="search" name="query" placeholder="{{ _ "search terms +must should -not ..." /* search field placeholder text */ }}" value="{{ .SiteSearchQuery | asHTML }}" autofocus/>
                    <button type="submit" value="submit">
                        <i class="fas fa-search"></i>
                        <span class="sr-only">{{ _ "Search" /* screen reader only */ }}</span>
                    </button>
                </div>
            </section>
        </div>
    </article>
</form>

<article class="block"
         id="site-search-details"
         data-block-tag="site-search-details"
         data-block-type="content"
         data-block-profile="outer--inner"
         data-block-padding="bottom"
         data-block-margins="bottom">
    <div class="content">
        {{- if .SiteSearchResults -}}
            <header>
                <h2>{{ _ "Results" /* search page results heading */ }}</h2>
            </header>
        {{- end -}}
        <section>
            {{- if .SiteSearchResults -}}
                <div style="display:flex;justify-content: space-between;">
                    <span style="text-align:left;">{{ .SiteSearchResultSummary }}<br /><mark>{{ .SiteSearchQuery | asHTML }}</mark></span>
                    <span style="text-align:right;">{{ .SiteSearchHitsSummary }}<br />{{ .SiteSearchPageSummary }}</span>
                </div>
            {{- else if .SiteSearchError -}}
                <p>{{ _ "Search error: %[1]s" .SiteSearchError /* search error happened */ }}</p>
            {{- end -}}
            <ol class="search-results" start="{{ add 1 (mul .SiteSearchPage .SiteSearchSize) }}">
                {{- range $idx, $hit := .SiteSearchResults.Hits }}
                    <li>
                        <p class="search-result">
                            <a href="{{ $hit.ID }}">{{ $hit.Fields.title }}</a>
                            <sup title="score: {{ $hit.Score }}">({{ printf "%02.2f" $hit.Score }})</sup>
                        </p>
                        <dl>
                            {{- range $k,$v := $hit.Fragments }}
                                <dt>{{ $k }}</dt>
                                <dd>
                                    {{- range $idx,$s := $v }}
                                        {{- if ne $idx 0 }}<br/>{{- end }}
                                        {{ $s | unescapeHTML | asHTML }}
                                    {{- end }}
                                </dd>
                            {{- end }}
                        </dl>
                    </li>
                {{- end }}
            </ol>
        </section>
        <a class="jump-top" href="#top">{{ _ "top" }}</a>
    </div>
</article>

{{- if .SiteSearchResults -}}
    <article class="block"
             id="site-search-pagination"
             data-block-tag="site-search-pagination"
             data-block-type="content"
             data-block-profile="outer--inner"
             data-block-padding="bottom"
             data-block-margins="bottom">
        <div class="content">
            {{ if ge .SiteSearchPages 1 }}
                <footer>

                    <div class="search-pagination">
                        {{ if gt .SiteSearchPage 0 }}
                            <a title="{{ _ "Go to the first page" }}" href="{{ .SiteSearchPath }}/:{{ .SiteSearchQuery | escapeUrlPath }}">
                                <i class="fa-solid fa-angles-left"></i>
                                <span class="sr-only">{{ _ "Go to the first page" }}</span>
                            </a>
                            <a title="{{ _ "Go to the previous page" }}" href="{{ .SiteSearchPath }}/:{{ .SiteSearchQuery | escapeUrlPath }}/{{ .SiteSearchSize }}/{{ sub .SiteSearchPage 1 }}">
                                <i class="fa-solid fa-angle-left"></i>
                                <span class="sr-only">{{ _ "Go to the previous page" }}</span>
                            </a>
                        {{ else }}
                            <div><i class="fa-solid fa-angles-left"></i></div>
                            <div><i class="fa-solid fa-angle-left"></i></div>
                        {{ end }}
                        {{ if gt $.SiteSearchPages 2 }}
                            <label for="search-pagination--jumps--toggle" class="search-pagination-info" title="{{ _ "show/hide page links" }}">
                                <span class="search-pagination-info--pages">{{ .SiteSearchPageSummary }}</span>
                                <span class="search-pagination-info--hits">({{ .SiteSearchHitsSummary }})</span>
                            </label>
                        {{ else }}
                            <div class="search-pagination-info">
                                <span class="search-pagination-info--pages">{{ .SiteSearchPageSummary }}</span>
                                <span class="search-pagination-info--hits">({{ .SiteSearchHitsSummary }})</span>
                            </div>
                        {{ end }}
                        {{ if lt .SiteSearchPage (sub .SiteSearchPages 1) }}
                            <a title="{{ _ "Go to the next page" }}" href="{{ .SiteSearchPath }}/:{{ .SiteSearchQuery | escapeUrlPath }}/{{ .SiteSearchSize }}/{{ add .SiteSearchPage 1 }}">
                                <i class="fa-solid fa-angle-right"></i>
                                <span class="sr-only">{{ _ "Go to the next page" }}</span>
                            </a>
                            <a title="{{ _ "Go to the last page" }}" href="{{ .SiteSearchPath }}/:{{ .SiteSearchQuery | escapeUrlPath }}/{{ .SiteSearchSize }}/{{ sub .SiteSearchPages 1 }}">
                                <i class="fa-solid fa-angles-right"></i>
                                <span class="sr-only">{{ _ "Go to the last page" }}</span>
                            </a>
                        {{ else }}
                            <div><i class="fa-solid fa-angle-right"></i></div>
                            <div><i class="fa-solid fa-angles-right"></i></div>
                        {{ end }}
                    </div>

                    {{ if gt $.SiteSearchPages 2 }}
                        <input id="search-pagination--jumps--toggle" type="checkbox" style="display:none;" />
                        <label for="search-pagination--jumps--toggle" class="show--search-pagination--jumps" title="{{ _ "show page links" }}">
                            <i class="fa-solid fa-chevron-down"></i>
                        </label>
                        <label for="search-pagination--jumps--toggle" class="hide--search-pagination--jumps" title="{{ _ "hide page links" }}">
                            <i class="fa-solid fa-chevron-up"></i>
                        </label>
                        <div class="search-pagination--jumps">
                            {{ with $numSplit := 1 }}
                                {{ if lt $.SiteSearchPages 20 }}
                                    {{ $numSplit = 1 }}
                                {{ else if lt $.SiteSearchPages 50 }}
                                    {{ $numSplit = 5 }}
                                {{ else }}
                                    {{ $numSplit = 10 }}
                                {{ end }}
                                <ul>
                                    {{ range $idx,$jumpToIndex := iterate -1 $numSplit $.SiteSearchPages }}
                                        {{ if or (le $jumpToIndex 0) (ge $jumpToIndex (sub $.SiteSearchPages 1)) }}{{ continue }}{{ end }}
                                        {{ $jumpToPage := add $jumpToIndex 1 }}
                                        <li><a href="{{ $.SiteSearchPath }}/{{ $.SiteSearchSize }}/{{ $jumpToIndex }}" title="{{ _ "go to page %[1]d" $jumpToPage }}">{{ $jumpToPage }}</a></li>
                                    {{ end }}
                                </ul>
                            {{ end }}
                        </div>
                    {{ end }}
                </footer>
            {{ end }}
        </div>
    </article>
{{ end }}