<section
        class="block"
        id="main-header"
        data-block-tag="main-header"
        data-block-type="header"
        data-block-profile="outer--inner"
        data-block-padding="top"
        data-block-margins="bottom"
        data-header-reset=""
        data-header-level="1"
        data-header-count="1">
    <div class="content">
        <h1>403 - {{ _ "Forbidden" }}</h1>
    </div>
</section>
<article
        class="block"
        id="forbidden"
        data-block-tag="forbidden"
        data-block-type="content"
        data-block-profile="outer--inner"
        data-block-padding="both"
        data-block-margins="both"
        data-block-jump-top="true"
        data-block-jump-link="true">
    <div class="content">
        <header>
            <h2>{{ _ "Request Denied" }}</h2>
        </header>
        <section>
            <p>{{ _ "Your request has been denied." }}</p>
        </section>
    </div>
</article>