{{ $title := .Title }}
{{ $desc := _ "Tag Cloud" }}
{{ if .TagCloudWord }}
    {{ $title = printf "Tag: %s" .TagCloudWord }}
    {{ $desc = _ "Pages tagged with: %q" .TagCloudWord }}
{{ end }}

{{ if .TagCloud }}

    {{ renderContent "njn" (printf `[{
  "type": "tagcloud",
  "profile": "outer--inner",
  "padding": "none",
  "margins": "none",
  "content": {
    "header": [%q]
  }
}]` $title) }}

{{ else }}

<article
        class="block"
        id="tag-cloud-pages"
        data-block-tag="tag-cloud-pages"
        data-block-type="content"
        data-block-profile="outer--inner"
        data-block-padding="both"
        data-block-margins="none"
>
    <div class="content">
        <header>
            <h2>{{ $desc }}</h2>
        </header>
        <section>
            {{ if .TagCloudPages }}
                <ul class="tagcloud-pages">
                    {{ range $idx,$tag := .TagCloudPages }}
                        <li><a href="{{ $tag.Url }}">{{ $tag.Title }}</a></li>
                    {{ end }}
                </ul>
            {{ else }}
                <p>{{ _ "no page tags found"}}</p>
            {{ end }}

        </section>
    </div>
</article>

{{ end }}
